<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar">        
        <ul class="nav-links">
            <li><a href="sobre_mi.html">Sobre Mí</a></li>
            <li><a href="mi_trabajo.html">Mi Trabajo</a>
                <div class="nav-preview">
                    <div class="preview-images">
                        <img src="../assets/cuarzo1.jpg" alt="Preview 1" class="preview-img">
                        <img src="../assets/image.png" alt="Preview 2" class="preview-img">
                        <img src="../assets/carbon.JPG" alt="Preview 3" class="preview-img">
                        <img src="../assets/columpio.JPG" alt="Preview 4" class="preview-img">
                        <img src="../assets/fuego.JPG" alt="Preview 5" class="preview-img">
                        <img src="../assets/cadena.JPG" alt="Preview 6" class="preview-img">
                        <img src="../assets/IMG_1474.JPG" alt="Preview 7" class="preview-img">
                        <img src="../assets/arbol.JPG" alt="Preview 8" class="preview-img">
                    </div>
                </div></li>
        </ul>
        <div class="logo">
            <a href="principal.html">
                <img src="../assets/Logo-02.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="alumbre.html">Alumbre</a></li>
            <li><a href="contactame.html">Contáctame</a></li>
        </ul>
    </nav>
</body>
</html>